html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;

    /* font: inherit; */
    vertical-align: baseline;
    outline: none;
}

.submit-btn {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

html {
    height: 101%;
}

@font-face {
    font-family: 'BebasBold';
    src: url("../fonts/BebasBold.woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'IBM';
    src: url("../fonts/IBMPlexMonoBold.woff");
    font-style: normal;
    font-weight: 700;
}

/* always display scrollbars */
body {
    font-family: 'BebasBold';
    font-size: 18px;
    line-height: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.head__container {
    width: 100%;
    display: inline-flex;
    padding: 118px 0 163px 0;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.head__container_circle {
    max-width: 76%;
}

.start {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    background: url(/img/start_bg.png) no-repeat, linear-gradient(#516580, #516580);
}

.start::after {
    z-index: 0;
    top: 115px;
    right: 0;
    content: "";
    position: absolute;
    width: 247px;
    height: 59%;
    background: linear-gradient(90deg, #8b8270, #ff9a02);
    opacity: 0.1;
}

.strat__button_about,
.strat__slogan {
    color: #ff914d;
}

.start__button_connect,
.start__connect {
    color: #fff;
}

.strat__slogan {

    font-size: 69px;
    text-align: right;
}

.start__connect {
    text-align: right;

    padding-top: 53px;
    font-size: 69px;
}

.start__button_group {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.strat__button_about {
    z-index: 2;
    display: flex;
    text-align: center;
    width: 150px;
    background: #fff;
    border-radius: 40px;
    font-size: 39px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /* margin: 0 auto; */
}

.start__button_connect {
    display: flex;
    text-align: center;
    width: 260px;
    border-radius: 40px;
    font-size: 39px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    ;
    background: #ff914d;
}

.head__container_right {
    padding-right: 30px;
}

/* Section About */
.about {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    background: url(/img/about_bg.png) no-repeat right top, linear-gradient(#516580, #516580);
    background-size: cover;
}

.about::after {
    z-index: 1;
    top: 0;
    position: absolute;
    content: "";
    background: url(/img/timur.png) no-repeat;
    width: 33%;
    height: 100%;
    background-size: 74%;
    left: 49px;
}

.about h2 {
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}

hr {
    z-index: 2;
    width: 100%;
    height: 1px;
    color: #fff;
    background: #fff;
    position: relative;
}

.about__hr_left {
    float: left;
    width: 10%;
    height: 1px;
    color: #fff;
    background: #fff;
}

.about__hr_right {
    float: right;
    width: 80%;
    height: 1px;
    color: #fff;
    background: #fff;
}

.about__name {
    letter-spacing: 3px;
    text-align: right;
    font-size: 122px;
    color: rgba(255, 255, 255, 0.231);
}

.about_descr {
    text-align: right;
    font-size: 40px;
    color: #fff;
}

.about_descr span {

    color: #ff914d;
}

.nth p:nth-child(odd) {
    padding-bottom: 40px;
}

.about h3 {
    padding-bottom: 30px;
}

.about__digit {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

.about__digit p {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 60px;
}

.about__digit span {
    display: block;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.231);
}

/* Products */
/*  
.products {
    height: 1000px;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    background: url(/img/products_bg.png) no-repeat right top, linear-gradient(#516580, #516580);
    background-size: cover;
}
*/
.grad_prod {
    z-index: 1;
    width: 100%;
    position: absolute;
    background: linear-gradient(#5e6e85, #51658005);
    height: 12%;
   
}
.products {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    background: linear-gradient(#5e6e85f5, #48648bd6), url(/img/products_bg.png) no-repeat right top;
    /* background-size: cover; */
}

.products_item img {
    object-fit: cover;
    width: 100%;
    filter: blur(2px);
}

.products h2 {
    position: relative;
    z-index: 2;
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}

.products__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.products_item {
    position: relative;
    flex-basis: 27%;
    margin-bottom: 180px;
}

.product-name {
    height: 120px;
    padding-left: 15px;
    line-height: 125%;
    color: #fff;
    font-size: 25px;
}

.price {
    text-align: right;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    color: #ff914d;
}

.old-price {
    font-size: 25px;
    text-decoration: line-through;
    text-decoration-color: #ff914d;
    color: #fff;
}

.goods-more {
    padding: 5px 14px;
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.336);
    border-radius: 40px;
    font-size: 30px;
}

.products_item_wrapper {
    width: 100%;
    position: absolute;
    bottom: -94px;
    display: block;
    background: #021a3e66;
    /* margin-top: -45px; */
}

.products_item_wrapper span {
    margin-top: 10px;
    display: block;
}

.price__block {
    display: flex;
    align-items: center;
}

/* Section bankrotstvo */
.bankrotstvo {
    background: #516580;
    padding: 0;
    max-width: 1300px;
    margin: 0 auto;
}

.bankrotstvo h2 {
    font-size: 90px;
    color: #fff;
    width: 100%;
    padding: 100px 0;
    background: #ffffff38;
    text-align: center;
}

.bankrotstvo__block p {
    max-width: 80%;
    font-family: 'IBM';
    line-height: 120%;
    color: #fff;
    text-indent: 30px;
    border-radius: 20px;
    background: #ffffff38;
    margin-bottom: 10px;
    padding: 10px 0px 10px 10px;
}

.bankrotstvo__block span {
    color: #ff914d;
}

.bankrotstvo__img_main {
    max-width: 100%;
    margin-top: -56px;

}

.bankrotstvo__block {
    display: flex;
}
.bankrotstvo__block_right {
    max-width: 40%;
    padding-top: 50px;
}
.bankrotstvo__block_right-buttons {
    padding-top: 50px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.start__button_buy {
    color: #fff;
    display: flex;
    text-align: center;
    width: 200px;
    border-radius: 40px;
    font-size: 39px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}
.strat__button_programm {
    /* margin-left: 30px; */
    color: #fff;
    display: flex;
    text-align: center;
    width: 118px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.bankrotstvo h3 {
    margin-top: -180px;
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}
.products__wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}
.product-name1 {
    max-width: 30%;
    height: 120px;
    padding-left: 15px;
    line-height: 125%;
    color: #fff;
    font-size: 25px;
}
.price1 {
    text-align: left;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    color: #ff914d;
}
.price__block1 {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Sections questions */
.questions {
    padding-bottom: 100px;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    background: url(/img/questions_bg.png) no-repeat, linear-gradient(#516580, #516580);
}
.questions h2 {
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}
.questions h3 {
    line-height: 120%;
    padding-top: 100px;
    text-align: right;
    font-size: 60px;
color:#fff
}
.questions h3, .footer-form, .footer__social {padding-right: 40px;}
.questions span {
    color: #ff914d;
    display: block;
}
.footer-form {
    padding-top: 50px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
input {
    outline: none;
}
.input-form {
    background-color: #ffffffad;
    margin-bottom: 20px;
    border-radius:20px;
height: 40px;
    border:none;
    border-top: none;
    border-right: none;
    border-left: none;
}


input::placeholder {
    padding-left: 15px;
 margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 116.28%;
    letter-spacing: 0.02em;
    color: #516580;
  }
  input {
    padding-left: 15px;
    color: #4e78b0;
  }
  input {outline:none;}
  input:focus,
  textarea:focus,
  select:focus {
   
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 116.28%;
    letter-spacing: 0.02em;
    color: #4e78b0;
    
  }
  .footer__social {
    margin-left: auto;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.submit-btn {
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    text-align: center;
    width: auto;
    border-radius: 40px;
    font-size: 39px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}
.grad_foot {
    z-index: 1;
    width: 100%;
    position: absolute;
    background: linear-gradient(176deg,#516580, #ffffff00);
    height: 100%;
    /* top: -71px; */
}
.posr {
    z-index: 2;
    position: relative;
}

/* Modal products styles */
.modal-product {
    display: flex;
    justify-content: space-between;
    background: url(/img/goods/good1-bg.png) no-repeat;
    background-size: cover;
    padding: 100px 40px;
}
.modal-product-left {
    flex-basis: 46%;
}

.modal-product-left img {
    object-fit:cover;
    width: 100%;
  
}


/* Tabs */




/* New tabs */
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li {
    font-size: 30px;
    background: none;
    /* color: #222; */
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    font-size: 30px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.tab-content {
    font-family: 'IBM';
    font-size: 18px;
    line-height: 120%;
    display: none;
    padding: 15px;
}
.tab-content.current{
   
    display: inherit;
}

/* Modal */
.modal-product-right {
    margin-left: 30px;
    flex-basis: 55%;
    font-size: 24px;
    color: #fff;
}
.price-modal {
    max-width: 120px;
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 50px;
    color: #ff914d;
}
.price-modal span {
    display: block;
    text-align: right;
}
#content-1 p, #content-2 p {
    font-family: 'IBM';
    padding-top: 20px;
}
.close-modal1 {
    /* content: "X"; */
    font-size: 30px;
    width: 35px;
    height: 35px;
    background: #ffffff70;
    padding: 0;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-button-block {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.start__button_buy_modal {
    color: #fff;
    display: flex;
    text-align: center;
    width: 43%;
    border-radius: 40px;
    font-size: 24px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}