
@media (max-width:768px) and (min-width:300px) {
    ul.tabs li.current, ul.tabs li {
        font-size: 24px;
    }
    .tab-content {
        padding: 15px 0;
    }

    .head__container {
        padding: 0;
    }
    .products_item {
              flex-basis: 100%;
    }
.footer-form {
      max-width: 100%;
}

.footer__social {
      max-width: 100%;
}
.bankrotstvo__block_right {
    max-width: 100%;
}
.bankrotstvo h2 {
    font-size: 26px;
    padding: 50px 0;
}
.strat__slogan {
    font-size: 47px;
    padding-right: 15px;
}
.start__button_group {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-bottom: 30px;
    align-content: center;
    align-items: center;
}
.about h3, .about_descr {
    position: relative;
    z-index: 2;
}
.start__connect {
    text-align: center;
    
    padding-top: 53px;
    font-size: 50px;
}
.head__container_right {
    margin: 0 auto;
    padding-right: 0;
}
.about__name {
    color: rgb(255 255 255);
    font-size: 66px;
}
.about::after {
    width: 55%;
    height: 100%;
    background-size: 85%;
    left: -17px;
}
.about__hr_left {
    width: 7%;
}
.about__hr_right {
    width: 73%;
}
.about_descr {
    font-size: 13px;
}
.about__digit p {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 0;
}
.about__digit span {
    font-size: 18px;
}
.about__digit {
    position: relative;
    justify-content: space-evenly;
    z-index: 2;
}
.start__button_connect {
    font-size: 24px;
    width: 35%;
}
.strat__button_about {

    width: 30%;

    font-size: 24px;
}
.modal-product {
    display: flex;
    justify-content: space-between;
    background: url(/img/goods/good1-bg.png) no-repeat;
    background-size: cover;
    padding: 10px;
    flex-direction: column;
}
.bankrotstvo__block p {
    max-width: 100%;
}
.bankrotstvo__block_right-buttons {
    max-width: 100%;
}
.questions h3 {
   
    padding-top: 100px;
    text-align: center;
    font-size: 46px;
    padding-right: 0;
}
.bankrotstvo h3 {
    margin-top: 50px;
}
.products__wrapper1 {

    padding-top: 30px;
}
.bankrotstvo__img_main { display: none;}

}

@media (max-width: 1024px) and (min-width: 768px) {
.products_item {
    flex-basis: 48%;
}
.footer-form {
  
    max-width: 60%;
}
.bankrotstvo h3 {
    margin-top: 50px;
}
.bankrotstvo__block_right {
    max-width: 56%;
}
.bankrotstvo__block_right-buttons {
  
    max-width: 100%;
}
.bankrotstvo h2 {
    font-size: 58px;
}
.about_descr {
    font-size: 30px;
}
.about__hr_right {
  
    width: 75%;
}
.head__container_circle {
    max-width: 100%;
}
.head__container_left {
    flex-basis: 40%;
}
.strat__slogan {
    font-size: 50px;
}
.start__connect {
    font-size: 50px;
}
.head__container {

    flex-wrap: nowrap;
}
.start__button_connect {
    width: 200px;
    font-size: 30px;
}
.strat__button_about {
    width: 100px;
    font-size: 30px;
}
.products {

    background-size: cover;
}

}


@media (max-width: 1300px) and (min-width: 1024px) {
    .head__container {

        flex-wrap: nowrap;
    }
    .price {
        padding-left: 20px;
    }
    .bankrotstvo__img_main {
        max-width: 86%;
    }
    .bankrotstvo__block_right {
        max-width: 50%;
    }
    .bankrotstvo h3 {
        margin-top: 90px;
    }
    .footer-form {

        max-width: 40%;
    }
    .about h3 {
        z-index: 2;
        position: relative;

    }
    .bankrotstvo h2 {
        font-size: 78px;
    }
}